{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "target": "es2022",
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    },
    "experimental": {
      "plugins": [
        [
          "@swc/plugin-transform-imports",
          {
            "^(\\.{1,2}\\/.*?)$": {
              "skipDefaultConversion": true,
              "transform": "{{matches.[1]}}.js"
            }
          }
        ]
      ]
    }
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "noInterop": false,
    "resolveFully": true
  },
  "exclude": [
    "node_modules",
    "dist",
    "coverage",
    "jest.config.*"
  ]
}